:root {
  --white: #fff;
  --black: #000;
  --neutral: #272a31;
  --orange: #ec5241;
  --gray: #d3d3d3;
  --xs: 0.6rem;
  --ssm: 0.8rem;
  --sm: 1rem;
  --md: 1.4rem;
  --lg: 2rem;
  --xl: 2.6rem;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

/* body.active {
  overflow: hidden;
} */

/* Styles for the navbar section */

nav {
  display: flex;
  height: 2.5rem;
}

.logo {
  display: none;
}

@media (max-width: 768px) {
  .navbar-items {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 47vh;
    background-color: var(--neutral);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom: 1px solid var(--white);
    gap: 1rem;
    padding: 3.5rem 2rem 0 2rem;
    top: -100%;
    transition: 0.5s;
  }

  .navbar-items.active {
    top: 0;
  }

  .navbar-items li {
    list-style: none;
  }

  .navbar-items li a {
    text-decoration: none;
    color: var(--white);
    font-size: var(--md);
  }
}

.nav-info {
  width: 15%;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.hamburger-button {
  background-color: var(--neutral);
  border-radius: 5px;
  width: 35px;
  height: 5px;
  transition: all 0.5s ease-in-out;
  align-self: center;
}

.menu-btn.open .hamburger-button {
  transform: translateX(-50px);
  background-color: transparent;
}

.hamburger-button::before,
.hamburger-button::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 5px;
  background-color: var(--neutral);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.hamburger-button::before {
  transform: translateY(-12px);
}

.menu-btn.open .hamburger-button::before {
  transform: rotate(45deg) translate(35px, -35px);
  background-color: var(--white);
}

.hamburger-button::after {
  transform: translateY(12px);
}

.menu-btn.open .hamburger-button::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background-color: var(--white);
}

/* Styles for the hero section */

header {
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url('../img/bg-pizza3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 70vh;
}

.hero {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: space-between;
  align-items: center;
}

.hero-title {
  padding-top: 1rem;
  color: var(--orange);
  text-align: center;
}

.hero-title p {
  font-size: var(--lg);
  font-weight: 400;
  margin: 0;
}

.hero-title h1 {
  font-size: 3.1rem;
  font-weight: 900;
  line-height: 0.9;
}

.hero-info {
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 2px;
  text-align: center;
  padding: 0.3rem;
  height: 18vh;
  display: flex;
  align-items: center;
  width: 85%;
}

.hero-info p {
  margin: 0;
  font-size: var(--sm);
  font-weight: 400;
}

.hero-date {
  align-self: center;
  text-align: center;
  width: 90%;
}

.hero-date h2 {
  font-size: var(--ssm);
  color: var(--neutral);
  font-weight: 400;
}

.hero-date a {
  font-size: var(--sm);
  font-weight: 600;
  color: var(--black);
}

/* logo explanation section */

.fratello-logo {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

.fratello-logo h2 {
  color: var(--neutral);
  font-size: var(--lg);
  font-weight: 600;
}

.fratello-logo hr {
  width: 15%;
  border-bottom: 5px solid var(--orange);
  margin: 0;
}

.fratello-logo p {
  text-align: center;
  font-size: var(--sm);
  color: var(--neutral);
  font-weight: 400;
  margin: 1rem 0;
}

.logo-middle {
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 80%;
}

.logo-middle img {
  width: 70%;
}

/* Story section */

.story {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-top: 0.5px solid var(--gray);
}

.story h2 {
  font-size: var(--md);
  font-weight: 600;
}

.story hr {
  width: 15%;
  border-bottom: 5px solid var(--orange);
  margin: 0;
}

.story p {
  font-size: var(--ssm);
  font-weight: 300;
  text-align: center;
  margin: 1rem 0;
}

.story-cards-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.story-card {
  background-image:
    linear-gradient(
      rgba(200, 50, 50, 0.6),
      rgba(200, 50, 50, 0.6)
    ),
    url('../img/fratello-team.jpg');
  background-size: cover;
  background-position: top;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story-card2 {
  background-image:
    linear-gradient(
      rgba(200, 50, 50, 0.6),
      rgba(200, 50, 50, 0.6)
    ),
    url('../img/fratello-clientes.jpg');
  background-size: cover;
  background-position: top;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story-card h4,
.story-card2 h4 {
  color: var(--white);
  font-weight: 900;
  margin: 0;
}

.story-card p,
.story-card2 p {
  color: var(--white);
  text-align: center;
  margin: 0;
  font-weight: 500;
}

/* locations section */

.locations {
  background-color: var(--neutral);
  height: 20vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locations h2 {
  color: var(--white);
}

.locations hr {
  width: 15%;
  border-bottom: 5px solid var(--orange);
  margin: 0;
}

.direction {
  display: flex;
  color: var(--white);
  padding-top: 1rem;
  align-items: center;
}

.direction i {
  width: 40%;
  text-align: center;
  font-size: var(--lg);
}

.direction-info {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-around;
}

.direction-info h4 {
  font-size: var(--ssm);
}

.direction p {
  font-size: var(--xs);
  margin: 0;
}

/* styles for the footer section */

.footer {
  background-color: white;
  display: flex;
  height: 10vh;
}

.conectus {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conectus h4 {
  text-align: center;
  margin: 0;
  font-size: var(--md);
  font-weight: 500;
  color: var(--neutral);
}

.conect {
  display: flex;
  gap: 2rem;
  padding: 0;
  justify-content: center;
  margin: 0;
}

.conect li {
  list-style: none;
  font-size: var(--md);
  font-weight: 600;
}

.conect li a {
  text-decoration: none;
  color: var(--neutral);
}

.footer p {
  width: 50%;
  font-size: var(--xs);
  color: var(--neutral);
  align-self: center;
  margin: 0;
}

/* media query for the about desktop page */

@media (min-width: 768px) {
  /* hero */

  .hero {
    padding-top: 10vh;
    height: 90vh;
    justify-content: space-around;
  }

  .hero-title p {
    display: none;
  }

  .hero-title h1 {
    font-size: 7rem;
    line-height: 0.8;
    margin: 0;
  }

  .hero-info {
    width: 50%;
    height: 25%;
  }

  .hero-info p {
    font-size: var(--md);
  }

  .hero-date h2 {
    font-size: var(--lg);
  }

  .hero-date a {
    font-size: var(--lg);
  }

  /* navbar */

  nav {
    background-color: white;
    height: 7vh;
    align-items: center;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid var(--gray);
  }

  .logo {
    display: flex;
    width: 40%;
    justify-content: center;
  }

  .logo a {
    justify-self: center;
  }

  .logo-nav img {
    width: 12rem;
  }

  .nav-info {
    width: 60%;
  }

  .navbar-items {
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: space-around;
  }

  .navbar-items li {
    list-style: none;
  }

  .navbar-items li a {
    text-decoration: none;
    color: var(--neutral);
    font-size: var(--md);
    font-weight: 500;
  }

  .hamburger-button {
    display: none;
  }

  .fratello-logo {
    padding: 5rem;
    height: 80vh;
  }

  .fratello-logo h2 {
    font-size: var(--xl);
  }

  .fratello-logo p {
    font-size: var(--md);
  }

  .logo-middle {
    margin-top: 5rem;
    height: 55%;
    width: 70%;
  }

  /* Story section */

  .story {
    padding: 3rem;
    height: 90vh;
  }

  .story h2 {
    font-size: var(--xl);
    margin-bottom: 2rem;
  }

  .story p {
    font-size: var(--md);
    margin: 2rem 0;
  }

  .story-cards-container {
    padding-top: 4rem;
    flex-direction: row;
    gap: 2rem;
    height: 70%;
    justify-content: center;
  }

  .story-card,
  .story-card2 {
    height: 90%;
    width: 40%;
  }

  .story-card p,
  .story-card2 p {
    color: var(--white);
    text-align: center;
    margin: 0;
    font-weight: 500;
  }

  /* footer section */

  .locations {
    display: none;
  }

  .footer {
    height: 15vh;
    background-color: var(--neutral);
    color: var(--white);
  }

  .conectus h4 {
    font-size: var(--lg);
    color: var(--white);
  }

  .conect li {
    font-size: var(--xl);
    transition: transform 0.5s;
  }

  .conect li:hover {
    transform: scale(1.5);
  }

  .conect li a {
    color: var(--white);
  }

  .conect li a:hover {
    color: var(--orange);
  }

  .footer p {
    color: var(--white);
    font-size: var(--md);
  }

  .navbar-items li a:hover {
    color: var(--orange);
    border: 4px solid var(--orange);
    padding: 0.8rem;
  }
}
